* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Inter", sans-serif;
}

html {
  overflow-y: scroll;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  height: 100px;
  display: flex;
  padding-left: 70px;
  background-color: #2e4ea1;
  align-items: center;
}

.logo_text {
  font-size: 48px;
}
.header-nav {
  position: absolute;
  right: 60px;
}

.header-nav a {
  padding: 10px;
  text-decoration: none;
  font-size: 24px;
}

.header-nav a:hover {
  background-color: rgba(140, 167, 241, 0.8);
}

.header-nav a:active {
  background-color: rgba(167, 186, 240, 0.8);
}

.login {
  background-color: rgba(140, 167, 241, 0.8);
}

.nav-item {
  padding: 10px;
  margin-right: 70px;
  border-radius: 12px;
}

.nav-item.login {
  margin-right: 0px;
}

main {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authorize-window {
  width: 600px;
  height: 500px;
  border: 2px solid #2e4ea1;
  text-align: center;
}

.authorize-head {
  width: 100%;
  height: 70px;
  font-size: 30px;
  background-color: #2e4ea1;
  line-height: 70px;
}

.login-field,
.password-field {
  margin: 0 auto 50px;
  width: 350px;
  height: 85px;
  background-color: #2e4ea1;
  border-radius: 15px;
}

.auth-fields {
  position: relative;
  top: 30px;
  font-size: 24px;
  line-height: 40px;
}

.enter-login,
.enter-password {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 1px solid #2e4ea1;
  height: 45px;
  background-color: white;
  border-radius: 15px;
  color: black;
  outline: none;
  padding-left: 10px;
  font-size: 20px;
}

.enter-button {
  display: block;
  font-size: 24px;
  width: 130px;
  height: 45px;
  margin: 80px auto 30px;
  background-color: #2e4ea1;
  border-radius: 15px;
  border: 0px;
}

.enter-button:hover {
  background-color: #3961c5;
}

.enter-button:active {
  background-color: #4370e2;
  scale: 0.95;
}

.create-account {
  text-decoration: none;
  color: #2e4ea1;
  font-size: 20px;
}

.create-account:hover {
  color: #1a2b57;
}

.create-account:active {
  color: #7996e1;
}

footer {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #2e4ea1;
  font-size: 18px;
}

footer a {
  text-decoration: none;
  display: block;
  margin-right: 100px;
}

.tg-icon {
  width: 52px;
}

.git-icon {
  width: 33px;
  margin-right: 10px;
}

.footer-link {
  display: flex;
  align-items: center;
}

.footer-link a:hover {
  color: #000000;
}
